@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.logo {
    position: fixed;
    top: 1%; /* Adjust as needed */
    left: 2%; /* Adjust as needed */
    padding: 10px; /* Increase padding for larger size */
    border: none;
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 38px; /* Adjust font size as needed */
    color: black; /* Adjust text color as needed */
    z-index: 9999; /* Ensure it's above other elements */
}
.logo a {
    color: black; /* Set link text color to black */
    text-decoration: none; /* Remove underline from links */
}
.logo a:hover {
    text-decoration: underline; /* Add underline on hover */
}
.nav_button {
    position: fixed;
    top: 3.5%;
    right: 11.5%;
    width: 60px; /* Set the width to make it square */
    height: 60px; /* Set the height to make it square */
    line-height: 60px; /* Vertically center the text */
    background-color: black; /* Blue color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    text-align: center; /* Center the text horizontally */
    display: block; /* Display as block to fill the container */
    z-index: 9999;
}
.aspect-ratio-4x3 {
    position: relative;
    width: 200vh;
    height:98vh;
}
.design_panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: #c9c9c9; /* Just for demonstration */
}
.content {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: #d4d4d4; /* Just for demonstration */
}