@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Noto+Sans:wght@100;400&family=Open+Sans&family=Pacifico&display=swap');

html, body {
    font-family: "Noto Sans", sans-serif;
}
a:hover, a:focus {
    text-decoration:underline;
}
.logo {
    text-decoration: none;
    font-family:  'Pacifico', cursive;
    color: #bab9be;
    font-size:xx-large;
    padding: 15px;
}
.logo:hover {
    text-decoration: none;
  }
.nav-button {
    text-decoration: none;
    width: 50px;
    height: 50px;
    color: #bab9be;
    background-color: #282a2c;
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
    float: right;
    margin: 5px;
}
.nav-button:hover {
    text-decoration: none;
    background-color: #393b3d; /* Change background color on hover */
  }
#about-button {
    width: 100px;
}
.left-panel {
    position: fixed;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    left: 15px;
    color: #bab9be;
    background-color: #1b1b1b;
    margin-top: 20px;
    width: 59%;
    height: 610px;
    border-radius:2%
}
.in-left-panel {
    height: 500px;
    width: 450px;
    text-align: left;
}
.in-left-panel p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.in-left-panel h1 {
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}
.price {
    font-size: 52px;
    color: white;
}
#actual_vs_predicted_link {
    float: left;
    margin: 0;
}
.right-panel {
    position: fixed;
    right: 15px;
    color: #bab9be;
    background-color: #1b1b1b;
    margin-top: 20px;
    width: 38%;
    height: 610px;
    border-radius:2%;
}
.right-panel img {
    justify-content: center;
    width: 97%;
    height: 97%;
    object-fit: cover;
    object-position: center;
    margin: 10px;
}
footer {
    padding-left: 10px;
    position: fixed;
    bottom: 0px;
    margin: 0;
    color: #bab9be;
}
body{
    background-color: #131314;
}

