body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.8);
    position: relative;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    background: #FFC017;
    border-bottom: 1px solid #242424;
    height: 10vh;
    width: 100%;
}

.logo-link {
    padding-left: 10%;
}

.logo-link a {
    font-family: medium-content-sans-serif-font;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: rgba(0,0,0,0.8);
}

.nav-link {
    display: flex;
    float: right;
    justify-content: flex-end;
}