@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #E2E2E2;
    --font-color: #121212;
    --neon-gold: #CFAA01;
    --neon-pink: #ff008c;
    --light-black: #262626;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

/* HEADER */

.base-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    margin: 0 auto;
    padding: 0 20px;
    border-bottom: 1px solid black;
    backdrop-filter: blur(50px);
}

.base-header-container-left {
    display: flex;
    align-items: center;
}

.base-logo {
    display: flex;
    align-items: center;
}

.base-logo h1 {
    font-family: "Damion", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    margin: 0;
    padding-bottom: 14px;
    transform: rotate(-7deg);
}

.base-logo a {
    text-decoration: none;
    color: var(--font-color);
}

.base-header-container-right {
    display: flex;
    align-items: center;
    margin-left: 0;
}

.base-logo-github {
    left: auto;
    padding-right: 20px;
}

.base-logo-github svg {
    width: 100px;
    height: 50px;
}

.base-logo-github a {
    color: var(--font-color);
}

.base-language p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.base-links {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: 8%;
}

.base-links ul  {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.base-links li {
    display: inline-block;
    margin-right: 40px; 
}

.base-links li:last-child {
    margin-right: 0;
}

.base-links a  {
    text-decoration: none;
    color: var(--font-color);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    transition: text-shadow 0.5s ease;
}

.base-links li :hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* BODY */

.body-main {
    display: flex;
    margin-top: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.body-main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.body-main-custom {
    display: flex;
    flex-direction: row;
    position: relative;
    min-width: 80%;
    margin: 0 auto;
    height: 100%;
}

.body-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100px;
}

.body-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    position: relative;
    height: 100%;
}

.body-image-container {
    background-image: url('https://i.postimg.cc/056Sp09G/Journey-Casual-Polar-Bear-1-removebg-preview.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 68%;
    height: 60%;
    border-bottom: 5px black solid;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    margin-top: 5%;
}

.number-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 70%;
    padding-top: 5%;
}

.body-image-hr {
    position: relative;
    width: 50%;
    height: 2px;
    background-color: var(--neon-gold);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.body-image-hr:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.3); 
}

.left-number,
.right-number {
    position: relative;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    margin: 0 1%;
}

.body-container-text {
    margin: 0;
    margin-top: 10%;
}

.body-container h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 120px;
    margin: 0;
    display: inline-block;
    line-height: 0.8;
}

.body-container-text-lite {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    margin-top: 6%;
    color: var(--neon-gold);
}

.body-container-text-desc {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    color: var(--font-color);
    line-height: 0;
}

.body-container-design {
    margin-top: 5%;
    display: flex;
}

.body-container-div-design-one,
.body-container-div-design-two,
.body-container-div-design-three {
    width: 25px; 
    height: 15px; 
    background-color: black;
    margin-right: 5%;
    border-radius: 3px;
    cursor: pointer;
    transition: width 0.3s ease;
}

.body-container-div-design-one:hover,
.body-container-div-design-two:hover,
.body-container-div-design-three:hover {
    background-color: var(--neon-gold);
}

.body-container-div-num {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-top: 0%;
    color: var(--font-color); 
}

.body-main-scroll {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 999;
}

.body-main-scroll button {
    background-color: var(--font-color);
    color: var(--bg-color);
    border: none;
    padding: 4px 15px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 24px;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.body-main-anal-black {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #121212;
}

.body-main-anal-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
    min-width: 80%;
    margin: 0 auto;
    z-index: 1;
}

.body-main-anal-container h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 120px;
    margin: 0;
    line-height: 0.8;
    display: inline-block;
    color: var(--bg-color);
}

.body-main-anal-selector {
    width: 0;
    padding-top: 7%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    margin-top: 0%;
}

.body-main-anal-selector select {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    padding: 14px 60px;
    border: none;
    border-radius: 4px;
    background-color: var(--bg-color);
    color: var(--font-color);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.body-main-anal-selector:hover select {
    background-color: var(--neon-gold);
    color: var(--bg-color);
}

.body-main-anal-desc {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    margin: 0;;
    color: var(--bg-color);
    line-height: 0;
}

.body-main-anal-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 45%;
    padding-left: 10%;
}

.body-main-anal-text {
    margin: 0;
    margin-top: 14%;
}

.body-main-anal-abs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    position: relative;
    margin-right: 10%;
    margin-left: 5%;
}

.body-main-anal-desc {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--bg-color); 
}

.body-main-anal-desc-expand {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 0.83rem;
    color: var(--bg-color); 
    text-align: justify;
    text-align: justify;
    width: 85%;
    height: 28%;
    overflow: hidden;
}

.body-main-anal-desc-expand a {
    font-weight: 400;
    text-decoration: none;
    color: var(--neon-gold);
    transition: color 0.3s;
}

.body-main-anal-desc-expand a:hover {
    color: #fff; 
}

.body-main-anal-canvas {
    padding-bottom: 2%;
    position: absolute;
    width: 100%;
    height: 85%;
    margin-top: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
}

.body-main-anal-canvas:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.body-main-anal-canvas canvas {
    border-radius: 15px; 
    padding: 15px;
    padding-bottom: 0;
}

.body-main-anal-canvas-wrapper {
    position: absolute;
    top: 15px; 
    right: 15px;
    z-index: 1;
}

.body-main-anal-canvas-wrapper select {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-black);
    color: var(--font-color);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.body-main-anal-canvas-wrapper:hover select {
    background-color: var(--neon-gold);
    color: var(--bg-color);
}

.body-main-custom-abs {
    position: relative;
    margin-top: 3%;
    left: 50%; 
    transform: translateX(-50%); 
    display: block;
    background-color: var(--neon-gold);
    width: 100%;
    height: 20%;
}

footer {
    bottom: 0;
    left: 0;
    height: 110px;
    width: 100%;
    padding-top: 10px;
    margin: 0;
    background-color: var(--neon-gold);
}

.foot-main {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 10%;
    width: 80%;
}

.foot-main-text {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.foot-main-text h1 {
    margin: 0;
    padding: 0;
    font-weight: 800;
    color: var(--font-color);
    letter-spacing: 1px;
}

.foot-main-text h1 svg {
    margin-right: 10px;
}

.foot-main-text p {
    margin: 0;
    padding: 0;
    font-weight: 300;
    color: var(--font-color);
    padding-left: 8px;
    line-height: 20px;
}

.foot-main-text a {
    text-decoration: none;
    color: var(--font-color);
}

.foot-main-icons {
    padding-top: 2%;
    right: 0; 
}

.foot-main-icons a {
    text-decoration: none;
    color: var(--font-color);
}

.foot-main-icons a svg {
    width: 50px; 
    height: auto;
    margin-left: 10px;
    transition: transform 0.3s ease; 
}

.foot-main-icons a:hover svg {
    transform: scale(1.05); 
}

.foot-main-text svg {
    fill: transparent; 
    transition: fill 0.3s ease; 
}

.foot-main-text:hover svg {
    fill: lightpink;
}

/* CUSTOM PAGE */

.body-your-main {
    width: 100%;
    height: 85%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid var(--light-black);
}

.body-your-inside {
    height: 100vh;
    display: flex;
    position: relative;
    margin: 0;
    flex-direction: row;
}

.body-your-inside-text-container {
    margin-top: 10%;
    margin-right: 2%;
    padding-left: 10%;
    flex: 1;
    flex-direction: column;
    display: flex;
}

.body-your-inside-text {
    margin-top: 6%;
}

.body-your-inside-text h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 120px;
    margin: 0;
    display: inline-block;
    line-height: 0.8;
    color: var(--font-color);
}

.body-your-inside-desc  {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    margin-top: 2%;
    color: var(--neon-pink);
}


.body-your-inside-desc p  {
    margin-bottom: 0;
}

.body-your-inside-desc-detail {
    width: 70%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--font-color);
    text-align: justify;
    margin-bottom: 1%;
}

.body-your-inside-model-selector {
    margin-bottom: 1%;
}

.body-your-inside-model-selector select {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-black);
    color: var(--bg-color);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.body-your-inside-model-selector:hover select {
    background-color: var(--neon-pink);
    color: var(--bg-color);
}

.body-your-inside-design {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-top: 0;
    color: var(--font-color); 
}

.body-your-inside-csv-container {
    margin-top: 11.5%;
    display: flex;
    flex-direction: column;
    margin-right: 7%;
    width: 52%;
    max-width: 52%;
    justify-content: flex-start;
    align-items: left;
    max-height: 70%;
    position: relative;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: box-shadow 0.3s;
    border: 10px solid var(--bg-color);
}

.body-your-inside-csv-container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.body-your-inside-csv-container::-webkit-scrollbar {
    width: 0;
}

.body-your-inside-csv-container table {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    border-collapse: collapse; 
    width: 100%; 
}

.body-your-inside-csv-container table td,
.body-your-inside-csv-container table th {
    border: 1px solid #CCCCCC;
    padding: 10px;
    text-align: left;
}

.body-your-inside-csv-container table td {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.body-your-inside-csv-container table th {
    background-color: var(--light-black);
    color: var(--bg-color);
    font-weight: 500;
    border-radius: 5px;
}

.body-your-inside-csv-container table td:hover {
    background-color: var(--neon-pink);
    color: var(--bg-color); 
}

.body-your-inside-csv-container p {
    position: absolute;
    bottom: 0;
    right: 0; 
    margin: 10px; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

.body-your-feature {
    display: flex;
    justify-content: center;
    background-color: var(--font-color);
    height: 100vh;
}

.body-your-feature-inside {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10%;
}

.body-your-feature-input {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.body-your-feature-selector {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.body-your-feature-input-text h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    line-height: 1;
    color: var(--bg-color);
    margin-top: 15%;
    margin-bottom: 5%;
}

.body-your-feature-input-paragraph {
    width: 75%;
    margin-bottom: 2%;
}

.body-your-feature-input-paragraph p {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    color: var(--bg-color);
    text-align: justify;
    margin: 0;
    line-height: 1.5;
}

.body-your-feature-input-main-eval {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    overflow: hidden;
}

.body-your-feature-input-main-eval button.custom-button {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-black);
    color: var(--bg-color);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    animation: none;
}

@keyframes buttonClickAnimation {
    0% { transform: scale(1); } /* Start with normal size */
    50% { transform: scale(0.95); } /* Shrink to 95% of its size */
    100% { transform: scale(1); } /* Return to normal size */
}

.body-your-feature-input-main-eval button.custom-button:active {
    animation: buttonClickAnimation 0.3s ease; /* Apply animation on click */
}

.body-your-feature-input-main-eval button.custom-button:hover {
    background-color: var(--neon-pink);
    color: var(--bg-color);
}

.body-your-inside-design-input-main {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-top: 5%;
    color: var(--bg-color); 
}

.body-your-feature-selector-inside {
    background-color: var(--bg-color);
    height: 70%;
    margin-top: 30%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.body-your-feature-selector-inside-text {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    margin-left: 8%;
    margin-top: 1%;
    border-bottom: 12px solid var(--light-black);
    width: 85%;
}

.body-your-feature-selector-inside-text h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: var(--light-black);
    line-height: 0.8;
}

.body-your-feature-selector-inside-inside {
    margin-top: 3%;
    height: 20%;
    width: 100%;
    display: flex; 
    flex-direction: row;
}

.body-your-feature-checkbox {
    width: 40%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid var(--light-black); 
    margin-left: 8%;
    height: 14vh;
}

.body-your-feature-input-main {
    width: 40%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid var(--light-black); 
    margin-left: 3.5%;
    height: 14vh;
}

.body-your-feature-input-main::-webkit-scrollbar {
    display: none;
}

.body-your-feature-input-main::-webkit-scrollbar-thumb {
    background: var(--light-black);
    border-radius: 4px; 
}

.body-your-feature-checkbox::-webkit-scrollbar {
    display: none;
}

.body-your-feature-checkbox::-webkit-scrollbar-thumb {
    background: var(--light-black);
    border-radius: 4px; 
}

/* Checkbox styling */
.body-your-feature-checkbox input[type="checkbox"] {
    display: none; /* Hide the actual checkbox */
}

/* Custom checkbox appearance */
.body-your-feature-checkbox input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    width: 0.8rem; 
    height: 0.8rem; 
    border: 2px solid var(--light-black);
    margin-right: 0.5rem; 
    vertical-align: middle;
}

.body-your-feature-checkbox input[type="checkbox"]:checked + label:before {
    background-color: var(--neon-pink); 
}

.body-your-feature-checkbox label {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    color: var(--light-black);
    line-height: 0.8;
    flex: 1;
    margin-left: 0.2vw;
    overflow: auto;
    white-space: nowrap;
}

.body-your-feature-checkbox label:hover {
    cursor: pointer;
}

/* Hide the increment and decrement buttons for number input fields */
.custom-input[type="number"]::-webkit-inner-spin-button,
.custom-input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-input[type="number"] {
  border: none;
  border-bottom: 2px solid var(--light-black);
  background-color: var(--bg-color);
  font-size: 0.5rem; 
  outline: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.85rem; 
  transition: border-color 0.3s ease;
}

.custom-input::placeholder {
    color: var(--light-black);
    font-weight: 500;
    font-size: 0.85rem;
}  

.custom-input:hover,
.custom-input:focus {
  border-color: var(--neon-pink);
}

.body-your-feature-inside-desc {
    margin-left: 8%;
    width: 84%;
    border-bottom: 5px solid var(--light-black);
}

.body-your-feature-inside-desc p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.78rem;
    line-height: 1.2;
    text-align: justify;
    font-weight: 400;
}

.body-your-feature-outcome {
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    line-height: 1.2;
    text-align: justify;
    font-weight: 600;
    color: var(--light-black);
}

.outcome-div-cover {
    margin-left: 8%;
    width: 30%;
    height: 90%;
    overflow: hidden;
}

.body-your-feature-outcome-desc {
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    line-height: 1.2;
    text-align: left;
    font-weight: 400;
}

.outcome-div-cover-bottom {
    position: relative;
    height: 22%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.logo-inside {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    text-align: left;
    font-weight: 700;
    color: var(--light-black);
}

.body-result {
    height: 100vh;
    display: flex;
    background-color: #060606;
    justify-content: center;
    align-items: center;
    position: relative;
}

.body-result-inside {
    height: 100%;
    width: 80%;
}

.body-result-header {
    width: 100%;
    height: 5.9%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.body-result-header-logo {
    width: 42px;
    height: 42px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: var(--light-black);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.body-result-header-logo:hover {
    background-color: var(--neon-pink); 
}

.body-result-header-desc {
    position: absolute; 
    right: 10%;
}

.body-result-header-desc p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    color: var(--bg-color);
}

.body-result-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.body-result-container-main {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.body-result-container-info {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--bg-color);
}

.model-name,
.other-values-old ,
.other-values-new ,
.other-values-accuracy ,
.other-values-mse ,
.other-values-msc ,
.other-values-rmse 
{
    margin-top: 1vh;
    height: 7vh;
    width: 70%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.model-name:hover,
.other-values-old:hover,
.other-values-new:hover,
.other-values-accuracy:hover,
.other-values-mse:hover,
.other-values-msc:hover,
.other-values-rmse:hover {
    background-color: var(--neon-pink); 
    color: var(--bg-color); 
}

.model-name h1:hover,
.other-values-old h1:hover,
.other-values-new h1:hover,
.other-values-accuracy h1:hover,
.other-values-mse h1:hover,
.other-values-msc h1:hover,
.other-values-rmse h1:hover {
    color: var(--bg-color); 
}

.model-name h1,
.other-values-old h1,
.other-values-new h1,
.other-values-accuracy h1,
.other-values-mse h1,
.other-values-msc h1,
.other-values-rmse h1 {
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: var(--font-color);
    margin: 0;
    padding: 0;
    padding-left: 10px;
    letter-spacing: -3px;   
}

.model-name {
    margin-top: 6vh; 
}

.other-values-old ,
.other-values-new ,
.other-values-accuracy ,
.other-values-mse ,
.other-values-msc ,
.other-values-rmse 
{
    white-space: nowrap;
    overflow: hidden;
    margin-top: 1vh; 
}

.other-values-old {
    width: 50%;
}

.other-values-new {
    width: 60%;
}

.other-values-accuracy {
    width: 55%;
}

.other-values-rmse {
    width: 45%;
}

.other-values-mse {
    width: 35%;
}

.other-values-msc {
    width: 30%;
}

.body-result-container-main-desc {
    display: flex;
    text-align: left;
    flex-direction: column-reverse;
    height: 30%;
}

.body-result-container-main-desc a,
.body-result-container-main-desc p {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    color: var(--bg-color);
    transition: color 0.3s ease;
}

.body-result-container-main-desc a:hover{
    color: var(--neon-pink);
}

.body-result-container-info-text {
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 40px;
    padding-left: 40px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 200;
}  

.body-result-container-info-text h6,
.body-result-container-info-text p {
    margin: 0;
}

.body-result-container-info-text h6 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 1rem;
}

.body-result-container-info-text p {
    font-weight: 200;
    font-size: 0.9rem;
    line-height: 1.2;
}

.body-result-container-info-text-bottom {
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 40px;
    padding-left: 40px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    position: absolute;
    bottom: 2%;
}

.body-result-container-info-text-bottom p {
    font-weight: 200;
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0;
}

.body-result-container-info-text-bottom a {
    color: var(--bg-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.body-result-container-info-text-bottom a:hover {
    color: var(--neon-pink);
}

.body-your-main-scroll {
    position: fixed;
    top: 50%; 
    left: 50px; 
    transform: translateY(-50%); 
    width: auto;
    height: 2vh;
    z-index: 9999; 
}

.scroll1,
.scroll2,
.scroll3 {
    width: 8px;
    height: 8px;
    border-radius: 60px; 
    background-color: var(--bg-color);
    margin-bottom: 5px; 
    box-shadow: 0 0 0 0.7px var(--light-black);
    transition: height 0.3s ease-in-out;
}

.scroll1.increase,
.scroll2.increase,
.scroll3.increase {
    height: 15px; 
}

.scroll1 a,
.scroll2 a,
.scroll3 a {
    color: transparent;
    width: 8px;
    height: 8px;
    border-radius: 50%; 
    text-decoration: none;
}