{% extends 'base.html' %}
{% block title %}About - Ecommerce Price Optimization{% endblock %}
{% block content %}
    <div class="about-container">
        <div class="about-section">
            <h2>About Me</h2>
            <p>
                Hello, I'm Aman Dhumal, a software developer passionate about building innovative solutions.
            </p>
            <p>
                You can reach me at:
                <ul>
                    <li>Email: <a href="mailto:amanddhumal@gmail.com">amanddhumal@gmail.com</a>, <a href="mailto:amandhumal@outlook.com">amandhumal@outlook.com</a></li>
                    <li>Github: <a href="https://github.com/AMN-D">github.com/AMN-D</a></li>
                    <li>LinkedIn: <a href="https://www.linkedin.com/in/aman-dhumal-20b882297/">linkedin.com/in/aman-dhumal-20b882297</a></li>
                </ul>
            </p>
        </div>
        <div class="about-section">
            <h2>Terms and Services</h2>
            <p>
                Please read our <a href="#">Terms of Service</a> for more information.
            </p>
        </div>
    </div>
{% endblock %}
