{% extends 'base.html' %}
{% block title %}Home - Ecommerce Price Optimization{% endblock %}
{% block content %}
<body class="hide-footer">
    <div id="left">
        {% for i, j, k  in zipped_data %}
            <div class="card-container">
                <div class="color-box"></div>
                <div class="card-header">
                    <h2>{{ k }}</h2>
                </div>
                <div class="card-footer">
                    <h3 class="actual-value">{{ i }}</h3>
                    <h3 class="predicted-value">{{ j|floatformat:"2" }}</h3> 
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="right">
        <div class="scale-container">
            <h1>Scale</h1>
            <div id="actual-value-scale-color"></div><p>Actual Price</p>
            <div id="predicted-value-scale-color"></div><p id="predicted-price-text">Predicted Price</p>
        </div>
        <div class="visualization-display">
            <div class="visualization-header"></div>
            <div class="visualization-canvas">
                <canvas id="PlotCanvas"></canvas>
            </div>
        </div>
        <div class="visualization-bar">
            <h1>Visualization</h1>
            <div class="dropdown">
                <button class="dropbtn" id="visualization-btn">Select Visualization &#9660;</button>
                <div class="dropdown-content">
                  <a href="#" onclick="showScatterPlot({{ actual_data|safe }}, {{ predicted_data|safe }});">Scatter Plot</a>
                  <a href="#" onclick="showLinePlot({{ actual_data|safe }}, {{ predicted_data|safe }})">Line Plot</a>
                  <a href="#" onclick="showBarChart({{ actual_data|safe }}, {{ predicted_data|safe }})"">Bar Chart</a>
                  <a href="#" onclick="reloadVisualizationDisplay()">Clear</a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

