{% extends 'base.html' %}
{% block title %}Home - Ecommerce Price Optimization{% endblock %}
{% block content %}
<body class="hide-footer">
    <div>
        <div class="left-panel-card">
            {% for i, j, k in zipped_data %}
            <div class="card">
                <h3>Actual Price: {{ i }}</h3> <!-- Actual price -->
                <h3>Predicted Price: {{ j }}</h3> <!-- Predicted price -->
                <h2>Product Id: {{ k }}</h2>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
