{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ecommerce Price Optimization{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    <header>
        <a class="logo" href="{% url 'homepage' %}">Optim</a>
        <a class="nav-button" id="about-button" href="{% url 'about' %}">About</a>
        <a class="nav-button" href="{% url 'price_optimization' %}">O</a>
    </header>
    <div class="container">
        <main>
            {% block content %}
            <div>
                <div class="left-panel">
                    <h1>LEFT</h1>
                </div>
                <div class="right-panel">
                    <h1>RIGHT</h1>
                </div>
            </div>
            {% endblock %}
        </main>
    </div>
    {% block footer %}
    <footer>
        <p>@ github.com/amn-d</p>
    </footer>
    {% endblock %}
</body>
</html>
