{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ecommerce Price Optimization{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="{% url 'homepage' %}">Optim</a>
            <a class="nav_button" href="{% url 'price_optimization' %}">O</a>
            <a class="nav_button" href="{% url 'about' %}" style="right: 3%; width: 120px;">About</a>
            <!--<ul>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'actual_vs_predicted' %}">Actual vs Predicted</a></li>
                <li><a href="{% url 'price_optimization' %}">Price Optimization</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>>
        </nav>-->
    </header>
    <main>
        <div class="aspect-ratio-4x3">
            <div class="design_panel"></div>
            <div class="content"></div>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>
