{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ecommerce Price Optimization{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    {% block header %}
    <header class="navigation">
        <a class="logo-link" href="{% url 'homepage' %}">Optim</a>
        <a class="nav-link-custom" href="{% url 'price_optimization' %}">Custom</a>
        <a class="nav-link-about" id="about-link" href="{% url 'about' %}">About</a>
    </header>
    <hr class="nav-divider">
    {% endblock %}
    <div class="page-container">
        <main>
            {% block content %}
            <div class="content-container-home">
            </div>
            <div class="content-container-avp">
            </div>
            <div class="content-container-custom">
            </div>
            <div class="content-container-about">
            </div>
            {% endblock %}
        </main>
    </div>
</body>
</html>
