{% extends 'base.html' %}
{% load static %}
{% block start %}
<div class="body-your-main">
    <div class="body-your-main-scroll"></div>
    <div class="body-your-inside">
        <div class="body-your-inside-text-container">
                <div class="body-your-inside-text">
                    <h1>PICK</h1>
                    <h1>MODEL</h1>
                </div>
                <div class="body-your-inside-desc">
                    <p>WORKING ?</p>
                </div>
                <div class="body-your-inside-desc-detail">
                    <p>Select your model, peek at the CSV preview, pick optimization features, input product details, and watch your optimization results unfold!</p>
                </div>
                <div class="body-your-inside-model-selector">
                    <select id="selectOption">
                        <option value="0">---</option>
                        <option value="1">LOWKEY</option>
                    </select>
                </div>
                <div class="body-your-inside-design">
                    <p>091</p>
                </div>
            </div>
            <div class="body-your-inside-csv-container">
                <table id="csv-table"></table>
                <p>CSV</p>
            </div>
        </div>
    </div>
    <div class="body-your-feature">
        <div class="body-your-feature-inside">
            <div class="body-your-feature-input">
                <div class="body-your-feature-input-text">
                    <h1>Finding the<br> 
                        Ideal Price for Your <br>
                        Product</h1>
                </div>
                <div class="body-your-feature-input-paragraph">
                    <p>DPO for Business: Precision Pricing Made Simple. Discover the Ideal Price for Your Product or Service, Regardless of Your Business Size. Maximize Profitability with Confidence</p>
                </div>
                <div class="body-your-feature-input-main-eval">
                    <button class="custom-button" onclick="retrieveInputFieldValuesAndSendData()">Evaluate</button>
                    <div class="line-old"></div>
                    <div class="line"></div>
                    <canvas class="small-canvas-old"></canvas>
                    <canvas class="small-canvas"></canvas>
                </div>
                <div class="body-your-inside-design-input-main">
                    <p>092</p>
                </div>
            </div>
            <div class="body-your-feature-selector">
                <div class="body-your-feature-selector-inside">
                    <div class="body-your-feature-selector-inside-text">
                        <h1>the CostOptim<br>
                            project
                        </h1>
                    </div>
                    <div class="body-your-feature-selector-inside-inside">
                        <div class="body-your-feature-checkbox" id="feature-checkbox-div"></div>
                        <div class="body-your-feature-input-main" id="feature-input-container"></div>
                    </div>
                    <div class="body-your-feature-inside-desc">
                        <p>Rest assured, your data remains transient and never leaves your device. Your privacy is paramount in our approach.<br>
                        For optimal results, ensure precision in your input. Accurate data fuels our project's efficacy and unlocks its full potential.<br>
                        Unlock the power of numerical inputs! Our system exclusively accepts numerical data, easily derived from the provided CSV.</p>
                    </div>
                    <div class="outcome-div-cover-bottom">
                        <div class="outcome-div-cover">
                            <div class="body-your-feature-outcome-desc">
                                <p>We are going to predict this value</p>
                            </div>
                            <div class="body-your-feature-outcome" id="outcome-div"></div>
                        </div>
                        <div>
                            <h1 class="logo-inside">DNN</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function sendDataToDjango(inputData) {
        fetch('/custom/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(inputData)
        })
        .then(response => {
            if (response.ok) {
                console.log('sendDataToDjango')
                // Handle success response if needed
            } else {
                // Handle error response if needed
            }
        })
        .catch(error => {
            console.error('Error sending data to Django:', error);
        });
    }

    function retrieveInputFieldValuesAndSendData() {
        var inputFields = document.querySelectorAll('input[type="number"]');
        var inputData = {};

        inputFields.forEach(function(input, index) {
            var inputName = input.getAttribute('name');
            inputData[inputName] = input.value;
        });

        sendDataToDjango(inputData);
    }

    document.addEventListener("DOMContentLoaded", function () {
        var selectElement = document.getElementById('selectOption');
        var outcomeDiv = document.getElementById('outcome-div');
        var featureCheckboxDiv = document.getElementById('feature-checkbox-div');
        var inputContainerDiv = document.getElementById('feature-input-container');
        var containerDiv = document.querySelector('.body-your-inside-csv-container');
        var features = {{ features|safe }};
        var selectedFeatures = [];

        function generateInputFields(selectedFeatures) {
            inputContainerDiv.innerHTML = '';

            selectedFeatures.forEach(function(feature, index) {
                var input = document.createElement('input');
                var inputId = 'input_' + index; // Unique ID for each input field
                var inputName = feature; // Name derived from placeholder
                input.id = inputId;
                input.name = inputName; // Set the name attribute
                input.type = 'number';
                input.placeholder = inputName; // Set the placeholder
                input.required = true; 

                input.style.backgroundColor = 'transparent'; 

                input.setAttribute('inputMode', 'numeric');

                input.addEventListener('input', function() {
                    this.value = this.value.replace(/[^0-9.]/g, '');
                });

                inputContainerDiv.appendChild(input);
            });
        }

        function createFeatureCheckbox(feature) {
            var checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.value = feature;
            checkbox.id = feature;

            checkbox.addEventListener('change', function() {
                if (this.checked) {
                    selectedFeatures.push(this.value);
                } else {

                function createFeatureCheckbox(feature) {
                    var checkbox = document.createElement('input');
                    checkbox.type = 'checkbox';
                    checkbox.value = feature;
                    checkbox.id = feature;

                    checkbox.addEventListener('change', function() {
                        if (this.checked) {
                            selectedFeatures.push(this.value);
                        } else {
                            selectedFeatures = selectedFeatures.filter(function(item) {
                                return item !== this.value;
                            }.bind(this)); 
                            removeInputFields(this.value);
                        }
                        generateInputFields(selectedFeatures);
                    });

                    var label = document.createElement('label');
                    label.htmlFor = feature;
                    label.appendChild(document.createTextNode(feature));

                    featureCheckboxDiv.appendChild(checkbox);
                    featureCheckboxDiv.appendChild(label);
                    featureCheckboxDiv.appendChild(document.createElement('br'));
                }
                        selectedFeatures = selectedFeatures.filter(function(item) {
                            return item !== this.value;
                        }.bind(this)); 
                        removeInputFields(this.value);
                    }
                generateInputFields(selectedFeatures);
            });

            var label = document.createElement('label');
            label.htmlFor = feature;
            label.appendChild(document.createTextNode(feature));
            featureCheckboxDiv.appendChild(checkbox);
            featureCheckboxDiv.appendChild(label);
            featureCheckboxDiv.appendChild(document.createElement('br'));
        }

        selectElement.addEventListener('change', function () {
            if (selectElement.value === '1') {
                var outcome = "{{ outcome }}";
                outcomeDiv.innerHTML = outcome;
                featureCheckboxDiv.innerHTML = '';
                features.forEach(function(feature) {
                    createFeatureCheckbox(feature);
                });
                var jsonData = JSON.parse('{{ json_data|escapejs }}');
                var table = '<table border="1">';
                table += '<tr>';
                for (var key in jsonData[0]) {
                    table += '<th>' + key + '</th>';
                }
                table += '</tr>';
                for (var i = 0; i < jsonData.length; i++) {
                    table += '<tr>';
                    for (var key in jsonData[i]) {
                        table += '<td>' + jsonData[i][key] + '</td>';
                    }
                    table += '</tr>';
                }
                table += '</table>';
                containerDiv.innerHTML = table;
            } else if (selectElement.value === '0') {
                outcomeDiv.innerHTML = '';
                inputContainerDiv.innerHTML = '';
                featureCheckboxDiv.innerHTML = '';
                containerDiv.innerHTML = '';
            } else {
                console.log('Select a value');
            }
        });
    });

</script>

<script>
    document.querySelector('.custom-button').addEventListener('click', function() {
        // Check if there are any input fields
        var inputFields = document.querySelectorAll('#feature-input-container input');
        if (inputFields.length === 0) {
            alert("Please select a feature to proceed.");
            return;
        }

        // Check if all input fields are filled
        var allFilled = true;
        inputFields.forEach(function(input) {
            if (!input.value.trim()) {
                allFilled = false;
                return; // Exit loop early if any input is empty
            }
        });

        if (allFilled) {
            const line = document.querySelector('.line');
            line.style.animation = 'fillLine 2s forwards'; 

            setTimeout(function() {
                const canvas = document.querySelector('.small-canvas');
                canvas.style.width = '4vw'; 
                canvas.style.animation = 'fillCanvas 2s forwards'; // Add animation to fill canvas
                canvas.style.backgroundColor = 'var(--neon-pink)'; 

                // Change button color to neon pink
                const button = document.querySelector('.custom-button');
                button.style.backgroundColor = 'var(--neon-pink)';
            }, 1000); 
        } else {
            alert("Please fill in all input fields before proceeding.");
        }
    });

    document.getElementById('selectOption').addEventListener('change', function () {
    // Get the value of the select element
    var selectValue = this.value;

    if (selectValue === '0') {
        // Revert changes
        const line = document.querySelector('.line');
        line.style.animation = ''; // Reset animation

        const canvas = document.querySelector('.small-canvas');
        canvas.style.width = ''; 
        canvas.style.animation = ''; // Reset animation
        canvas.style.backgroundColor = ''; 

        // Reset button color
        const button = document.querySelector('.custom-button');
        button.style.backgroundColor = ''; 
    }
});


</script>



{% endblock %}
{% block footer %}
{% endblock %}
