{% extends 'base.html' %}
{% block title %}Home - Ecommerce Price Optimization{% endblock %}
{% block content %}
<div class="content-container-home">
    <h1 class="content-container-home-header">Boost Margin.</h1>
    <p class="content-container-home-paragraph">Unlock insights, data, and strategies<br>
        from analysts on price trends</p>
    <a class="action-button" id="actual-vs-predicted-link" href="{% url 'actual_vs_predicted' %}">Get Started</a>
</div>
<hr class="content-container-home-divider">
{% endblock %}
