{% extends 'base.html' %}
{% block title %}Home - Ecommerce Price Optimization{% endblock %}
{% load static %}
{% block content %}
<div class="aspect-ratio-4x3">
    <div class="design_panel">
        <img src="{% static 'images/your_image.jpg' %}" alt="Your Image">
    </div>
    <div class="content">
        <h2 style="color: black;">Welcome to Ecommerce Price Optimization</h2>
        <p>This is where you can optimize your prices to maximize your profits.</p>
    </div>
</div>
{% endblock %}
