{% extends 'base.html' %}
{% block title %}Price Optimization{% endblock %}
{% block content %}
<div class="optimizer-container">
    <div class="optimizer-panel">
        <h1><span class="custom-text">Custom,</span><span class="omtimizer-title"><span>P</span><span>r</span><span>i</span><span>c</span><span>e</span><span>.</span>
            </span><br>Want to improve your product pricing?</br></h1>
        {% if show_result %}
            <div class="result">
                <div class="in-result"></div>
                <div class="text">
                    <p>Product ID: {{ product_id }}</p>
                    <p>Category ID: {{ category_id }}</p>
                    <p>Brand: {{ brand }}</p>
                    <p>Historical Price: ${{ historical_price }}</p>
                    <p>Optimized Price: ${{ optimized_price }}</p>
                </div>
            </div>
        {% else %}
            <form class="optimize-form" method="post">
                {% csrf_token %}
                <input type="text" id="product_id" name="product_id" placeholder="Enter Product ID" required pattern="[0-9]*">
                <input type="text" id="category_id" name="category_id" placeholder="Enter Category ID" required pattern="[0-9]*"><br>
                <input type="text" id="brand" name="brand" placeholder="Enter Brand" required>
                <input type="text" id="historical_price" name="historical_price" placeholder="Enter Historical Price" required pattern="[0-9]*"><br>                      
                <button class="optimize-input" type="submit">></button>
            </form>
        {% endif %}
    </div>
</div>
{% block footer %}
<footer>
    <p>&copy; Optim may display inaccurate info, including inaccurate prices, so double-check its responses.</p>
</footer>
{% endblock %}
{% endblock %}
